<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <h1>
        Have a nice day!!!
    </h1>
    <p>Have a nice day!!o
        <%= title %>
    </p>
</body>

</html>