<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>


    <script src="/javascripts/jquery-3.3.1.min.js"></script>
    <script src="/javascripts/angular.min.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
    <script src="/javascripts/layout.js"></script>


    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
</head>

<body>
    <div ng-app="myApp">
        <div ng-controller="LayoutController">
            {{user.name}}
            <button ng-show="user.name != undefined" class="btn btn-danger" ng-click="logout()"> Logout</button>
            <div class="navbar navbar-default">
                <a href="/myForm" class="nav-link">My Form</a>
                <a href="/test-angularjs" class="nav-link">Test Angular</a>
                <a href="/quotation-bill" class="nav-link">Quotation</a>
            </div>

            <%-body%>

        </div>
    </div>
</body>

</html>